* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #023A6B;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

body {
    background: #FEF2E8;
}

.Shopping-Cart-Container {
    display: flex;
    align-items: center;
}

.Shopping-Cart-text {
    color: #023A6B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    text-transform: uppercase;

}

a {
    text-decoration: none;
}

.Shopping-Cart-Container img {
    margin-right: 16px;
}

.d-flex {
    display: flex;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1440px;
    padding: 24px 32px;
    margin: auto;
}

.nav-container {
    background-color: #FFFFFF;
}

.container {
    max-width: 960px;
    margin: 64px auto 0;
}

h1 {
    color: #023A6B;
    font-family: Eczar;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    color: #023A6B;
    font-family: Eczar;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}

.special-word {
    color: #F73;
    font-family: Eczar;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.product-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.price {
    color: #FFF;
    font-family: Eczar;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    padding: 2px 6px;
    border-radius: 16px;
    background: #F73;
    margin-left: 8px;
}

.name-price-container {
    display: flex;
    align-items: start;
    margin-top: 24px;
}

/* Styling for radio buttons */
input[type="radio"], input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 12px;

}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: #FF7733;
    border: 4px solid white;
}

/* Styling for radio button labels */
label {
    cursor: pointer;
    text-transform: uppercase;
}

.cart {
    max-width: 288px;
}

.options-container {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;

    margin: 16px 0;
}

.option-container {
    display: flex;
    align-items: center;
}

.option-container:nth-child(2) {
    margin-left: 16px;
}

.option-container:last-child {
    margin-top: 24px;
}

input[type="checkbox"] {
    border-radius: 8px;
}

.prm-btn {
    border-radius: 64px;
    border: 2px solid #FFBD5C;
    padding: 16px 24px;

    color: #023A6B;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;
    background: unset;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    align-items: center;
}
.buttons-container img {
    margin-left: 16px;
    cursor: pointer;
}
.Stamp {
    position: absolute;
    right: 40px;
    bottom: 16px;
}
.img-container {
    position: relative;
}
